<!--
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>


<div>
  <h3>+ Feed</h3>
  <%= form_tag ({controller: 'dashboard', action: 'new_folder_or_feed', method: 'post'}) do %>
    <label>Feed URL: </label>
    <%= text_field(:feed, :link) %><br>
    <label>Folder Name: </label>
    <%= text_field(:folder, :name) %><br>
    <%# collection_select(:feed, :folder_id, @user.folders, :id, :name) %>
    <input type=submit value='add feed'>
  <% end %>
</div>
-->



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 bg-secondary text-white">
      <%= render "all_folders_and_feeds"%>
    </div>
    <div class="col-md-8 bg-light text-dark">
      <%= render "posts" %>
    </div>
  </div>
</div>
