<h1>Dashboard page</h1>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>

<%= form_tag ({controller: 'users', action: 'new_feed', method: 'post'}) do %>
  <input type=submit value='add feed'>
<% end %>

<div>
<h3>+ Feed</h3>
<%= form_for @feed do |f| %>
  <%= f.label f.link %>
  <%= f.text_field f.link %>
  <%= f.collection_select :folder_id, @user.folders, :id, :name %>
  <%= f.submit %>
<% end %>
</div>

<div>
  <h3>Folders > Feeds > Posts</h3>
  <ul>
  <% @user.folders.each do |folder| %>
    <li><%= link_to folder.name %></li>

    <ul>
    <% folder.feeds.each do |feed| %>
      <li><%= feed.title %></li>

      <ul>
      <% feed.posts.each do |post| %>
        <li><%= post.title %></li>
      <%end%>
      </ul>

    <%end%>
    </ul>

  <%end%>
  </ul>
</div>
