<h1>This is a folder view for <%= @folder.name %></h1>

<div>
  <h3>+ Feed</h3>
  <%= form_tag ({controller: 'users', action: 'new_folder_or_feed', method: 'post'}) do %>
    <label>Feed URL: </label>
    <%= text_field(:feed, :link) %><br>
    <input type=submit value='add feed'>
  <% end %>
</div>


<div>
  <h3>Folder > Feeds > Posts</h3>
  <ul>
  <% @folder.feeds.each do |feed| %>
    <li><%= link_to feed.title %></li>

    <ul>
    <% feed.posts.each do |post| %>
      <li><%= link_to post.title, post.link %></li>
    <%end%>
    </ul>

  <%end%>
  </ul>
</div>
