<h2> Edit User Details </h2>

<div class="card">
  <div class="card-body">
    <%= form_for @user, url: '/update', method: :post do |f|%>

      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
            <%= f.label :name, "Name"%>
            <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
            <%= f.label :email, "Email Address"%>
            <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          </div>
        </div>
      </div> 

      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
            <%= f.label :username, "Username"%>
            <%= f.text_field :username, class: "form-control", placeholder: "Username" %>
          </div>   
        </div>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
            <%= f.label :password, "Enter Password to Confirm"%>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
        </div>
      </div>
      
      <%= f.submit "Submit Changes", class: "btn btn-default btn-primary" %>
    <%end%>

  </div>
</div>

<h2> Change Password </h2>

<div class="card">
  <div class="card-body">

    <%= form_for @user, url: '/update_pw', method: :post do |f|%>

      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
            <%= f.label :password, "Old Password"%>
            <%= f.password_field :old_password, class: "form-control", placeholder: "Old Password" %>
          </div>
        </div>
      </div> 

      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
            <%= f.label :password_new, "New Password"%>
            <%= f.password_field :password, class: "form-control", placeholder: "New Password" %>
          </div>
        </div>
      </div> 

      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
             <%= f.label :password_confirmation, "Confirm New Password"%>
             <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
          </div>
        </div>
      </div> 
      <%= f.submit "Change Password", class: "btn btn-default btn-primary" %>
    <%end%>

  </div>
</div>

<h2> Delete Account </h2>

<div class="card">
  <div class="card-body">

    <%= form_for @user, url: '/delete_account', method: :post do |f|%>

      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
            <%= f.label :password, "Enter Password to Confirm Deletion"%>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
        </div>
      </div> 
    
      <%= f.submit "Delete Account", class: "btn btn-default btn-primary" %>

    <%end%>
   </div>
  </div>
