<h3>Add Folder </h3>

<div class="card">
  <div class="card-body">
     <%= render "feeds/add_folder"%>
  </div>
</div> 




<h3>Delete Folder</h3>

<div class="card">
  <div class="card-body">
    <%= render "delete_folder"%>
  </div>
</div> 

<h3>Edit Feed </h3>

<div class="card">
  <div class="card-body">
     <%= render "edit_feed"%>
  </div>
</div> 


<h3> Edit User Details </h3>

<div class="card">
  <div class="card-body">
    <%= render "edit_user_details"%>
  </div>
</div>


<h3> Change Password </h3>

<div class="card">
  <div class="card-body">
    <%= render "delete_account"%>
  </div>
</div>


<h3> Delete Account </h3>

<div class="card">
  <div class="card-body">
    <%= render "delete_account"%>
  </div>
</div>


