
<%= form_for @feed, url: '/create_feed', method: :post do |f|%>
        
    <div class="form-group">

        <%= f.label :link, "Feed URL"%>
        <%= f.text_field :link, class: "form-control", placeholder: "Feed URL" %>
    </div> 

    <div class="form-group">

        <%= f.label :folder, "Folder Name"%>
        <%= f.collection_select :folder_id, @user.folders, :id, :name %>


    </div> 
        
    <input type=submit value='add feed'>

<% end %>

