<!DOCTYPE html>
<html>
  <head>
    <title>RssApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>Current Session for: <%= session[:username] ||= "NO USER" %></div>
    <div>Current Errors: <%= flash[:errors] ||= "✅"%> </div>
    <%= yield %>
  </body>
</html>
